body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  margin-bottom: 200px;
}

.wrapper {
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
}

/*
 Utility styles
*/

.border-rounded {
  border: 1px solid #595959;
  border-radius: 10px;
}

.border-bottom {
  border-bottom: 1px solid #595959;
}

.bullet-none {
  list-style-type:none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.float-left {
  float: left;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-blue400 {
color: #069;
}

.font-blue400:hover {
  color: #BA0909;
  transition: 0.5s;
}

.font-bold {
  font-weight: bold;
}

.font-grey400 {
color: #595959;
}

.font-md {
  font-size: 1.1rem;
}

.font-lg {
  font-size: 1.8rem;
}

.font-xl {
  font-size: 2.5rem;
}

.font-roboto {
    font-family:"Roboto", sans-serif;
}

.font-space {
    font-family:"Space Mono", monospace;
}

.inline {
  display: inline-block;
}

.leading-lg {
 letter-spacing: 0.3rem;
}

.leading-md {
 letter-spacing: 0.1rem;
}

.m-0 {
  margin: 0;
}
.mb-md {
  margin-bottom: 10px;
}
.mb-lg {
  margin-bottom: 15px;
}

.ml-sm {
  margin-left: 5px;
}

.mr-sm {
  margin-right: 5px;
}

.p-0 {
  padding: 0;
}

.pb-sm {
  padding-bottom: 5px;
}

.pb-md {
  padding-bottom: 10px;
}

.self-center {
  align-self: center;
}

.spacing-md {
 line-height: 1.5rem;
}

