body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 50px 20px 500px 20px;
  height: 100vh;
  width: 100wh;
}

.left {
  width: 100%;
}

.right {
  width: 100%;
}

/*
 Utility styles
*/
.display-normal {
  display: auto;
}

.border-rounded {
  border: 1px solid #a5a5a5;
  border-radius: 10px;
}

.border-bottom {
  border-bottom: 1px solid #a5a5a5;
}

.bullet-none {
  list-style-type:none;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.flex-grow {
  flex: 1;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.float-left {
  float: left;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-blue400 {
color: #069;
}

.font-blue400:hover {
  color: #BA0909;
  transition: 0.5s;
}

.font-bold {
  font-weight: bold;
}

.font-grey400 {
  color: #595959;
}

.font-md {
  font-size: 1.1rem;
}

.font-lg {
  font-size: 1.8rem;
}

.font-lg-md {
  font-size: 1.8rem;
}

.font-xl {
  font-size: 2.5rem;
}

.font-roboto {
    font-family:"Roboto", sans-serif;
}

.font-space {
    font-family:"Space Mono", monospace;
}

.inline {
  display: inline-block;
}

.leading-lg {
 letter-spacing: 0.3rem;
}

.leading-md {
 letter-spacing: 0.1rem;
}

.m-0 {
  margin: 0;
}
.mb-md {
  margin-bottom: 10px;
}

.mb-lg {
  margin-bottom: 20px;
}

.mb-xl {
  margin-bottom: 40px;
}

.ml-sm {
  margin-left: 5px;
}

.mr-sm {
  margin-right: 5px;
}

.p-0 {
  padding: 0;
}

.pb-sm {
  padding-bottom: 5px;
}

.pb-md {
  padding-bottom: 10px;
}

.spacing-md {
 line-height: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    justify-content: center;
  }

  .left {
    margin-right: 80px;
    width: 40%;
    max-width: 400px;

  }

  .right {
    width: 60%;
    max-width: 600px;
  }

  .center {
    margin-left: 0;
    margin-right: null;
  }

  .font-lg-md {
    font-size: 1.3rem;
  }
}
